.route {
    background-image: url("../../assets/layered-waves-haikei.svg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -100;
}

.route .tables {
    width: calc(100% - 240px);
    float: right;
    padding: 20px;
    height: calc(100% - 68.5px);
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: black;
}