.section {
    width: 100%;
    height: 200vh;
    position: absolute;
    z-index: 10;
    scrollbar-width: none;
}

.img {
    width: 70%;
    height: 70%;
}

@media screen and (max-width: 600px) {
    .img {
        width: 100%;
        height: 100%;
    }
}

.section article {
    height: 100vh;
    background-size: cover;
}

.section .articleOne {
    background-image: url("../../assets/layered-waves-haikei.svg");
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .section .articleOne {
        flex-direction: column;
    }
}

.section .articleTwo {
    background-image: url("../../assets/second-waves.svg");
}